 <!doctype html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->


<!-- Mirrored from lovesome.biz/tf-template/themewarehouse/gyme/index-slider.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Dec 2018 13:26:09 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ======= Titles ======= -->
    <title>Woxen Fitness Center</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="themewarehouse">
    <!-- ======= Titles ======= -->
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- ======= Google Fonts ======= -->
    <!-- Open Sans Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- ======= css ======= -->
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar">
    <!-- ======= preloader start ======= -->
    <div class="preloader-area">
        <div class="preloader"></div>
    </div>
    <!-- ======= preloader end ======= -->
    <!-- ======= Header part start ======= -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-sm-2 col-md-2">
                    <!-- Header logo -->
                    <div class="logo">
                        <a href="/dashbord">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-7 col-sm-10 col-md-10">
                    <!-- Header menu -->
                    <nav class="navbar menu-part">
                        <ul class="nav nav-tabs" id="menu">
                            <li class="active"><a class="smooth-scroll" href="/dashbord">home</a></li>
                            <li><a class="smooth-scroll" href="/dashbord"><span class="separet">/</span>Verify comments</a></li>
                            <li><a class="smooth-scroll" href="/imageU"><span class="separet">/</span> Upload images</a></li>
                            <li><a class="smooth-scroll" href="#videos"><span class="separet">/</span> Upload videos</a></li>
                            <li><a class="smooth-scroll" href="/auth/logout"><span class="separet">/</span> Logout</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ======= Header part end ======= -->
    <!-- ======= Slider part start ======= -->
    <section id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div id="top" class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/slider/01.jpg" alt="..." class="animated fadeIn">
                <div class="carousel-caption">
                    <div class="gym-slider">
                        <div class="gym-single-slider">
                            <h1 class="animated fadeInDown">it’s <span>gym</span> time.let’s <span>go</span></h1>
                            <h2 class="animated slideInRight">we are ready to <span>fit</span> you</h2>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- single slider part -->
            <div class="item">
                <img src="images/slider/02.jpg" alt="..." class="animated fadeIn">
                <div class="carousel-caption">
                    <div class="gym-slider">
                        <div class="gym-single-slider">
                            <h1 class="animated fadeInDown">what's your <span>mind</span> belives</h1>
                            <h2 class="animated slideInRight">yes you can <span>do</span> it<span>.</span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--  single slider part -->
            <div class="item">
                <img src="images/slider/03.jpg" alt="..." class="animated fadeIn">
                <div class="carousel-caption">
                    <div class="gym-slider">
                        <div class="gym-single-slider">
                            <h1 class="animated fadeInDown">MAKE <span>IT </span>HAPPEN!</h1>
                            <h2 class="animated slideInRight">WINING IS <span>EASIER THAN</span> YOU THINK!</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--  single slider part -->
        </div>
    </section>
    <!-- ======= Slider part end ======= -->
 <br />
        <!-- ======= upload video part start ======= -->
	<section id="videos" class="contact-part-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title contact-title ">
                            <h1>UPLOAD <span>VIDEO</span></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <form action="/uploadVideo" method="POST" encType="multipart/form-data" name="form">
                                <div class="row">
                                    <h1>SELECT AN VIDEO TO UPLOAD</h1>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-content">
                                            <input name="video" placeholder="UPLOAD YOUR VIDEO"  type="file">
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                        <button type="submit" name="submit" class="sent-button hvr-shutter-out-vertical wow fadeIn">UPLOAD</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= upload video part End ======= -->
         <!-- ======= Footer part start ======= -->
    
    <footer class="fotter-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="reserve-area">
                        <span>&copy;</span> Copyright <span>| The Alpha Technologies |</span> All Rights Reserved 2018
                    </div>
                    <!-- copyright part -->
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            //Only needed for the filename of export files.
            //Normally set in the title tag of your page.
            // DataTable initialisation
            $('#example').DataTable(
                {
                    "dom": '<"dt-buttons"Bf><"clear">lirtp',
                    "paging": true,
                    "autoWidth": true,
                    "buttons": [
                        'colvis',
                        'copyHtml5',
                        'csvHtml5',
                        'excelHtml5',
                        'pdfHtml5',
                        'print'
                    ]
                }
            );
        });
    </script>
    <!-- ======= Footer part end ======= -->
    <!-- ======= All js ======= -->
    <!-- ====== Jquery Min ======= -->
    <!-- <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script> -->
    <!-- ====== Bootstrap js ======= -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- ====== slicknav js ======= -->
    <script type="text/javascript" src="js/jquery.slicknav.min.js"></script>
    <!-- ====== modernizr js ======= -->
    <script type="text/javascript" src="js/modernizr.min.js"></script>
    <!-- ====== parallax js ======= -->
    <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
    <!-- ====== circle progress js ======= -->
    <script type="text/javascript" src="js/circle-progress.js"></script>
    <!-- ====== slick js ======= -->
    <script type="text/javascript" src="js/slick.min.js"></script>
    <!-- ====== isotope js ======= -->
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <!-- ====== lightbox js ======= -->
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <!-- ====== wow js ======= -->
    <script type="text/javascript" src="js/wow.min.js"></script>
    <!-- ====== waypoints js ======= -->
    <script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
    <!-- ====== google map js ======= -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCMiBMwJko7vqlmlPOq-7wAW8DS5yNGz6Q"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script>
    <!-- ====== scrollUp js ======= -->
    <script type="text/javascript" src="js/jquery.scrollUp.min.js"></script>
    <!-- ====== active js ======= -->
    <script type="text/javascript" src="js/active.js"></script>
    <!-- ====== google map active js ======= -->
    <script type="text/javascript">
        $(function () {
            var fenway = [-33.7707907, 150.9101118];
            $('#test')
                .gmap3({
                    center: fenway,
                    zoom: 13,
                    scrollwheel: false
                })
                .streetviewpanorama(
                    '#panorama', {
                        position: fenway,
                        pov: {
                            heading: 34,
                            pitch: 10,
                            zoom: 1
                        }
                    }
                );
        });

    </script>

</body>


<!-- Mirrored from lovesome.biz/tf-template/themewarehouse/gyme/index-slider.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Dec 2018 13:27:51 GMT -->

</html>